body {
  margin: 0;
  overflow: hidden; 
  background-color: #ffffff;
}

#line {
  background-color: #000000;
  width: 200px;
  height: 2px;
  position: absolute; /* The test is explicitly looking for this */
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -100px;
}